button,
[type="button"],
[type="reset"],
[type="submit"],
.btn {
  appearance: none;
  background-color: white;
  border: 2px solid var(--primary-color);
  border-radius: 0;
  color: var(--primary-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-base);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: var(--spacing-3) var(--spacing-4);
  text-align: center;
  text-decoration: none;
  transition: background-color var(--duration) var(--timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: var(--primary-color);
    color: white;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
