html {
  color: $font-color--base;
  font-family: var(--font-family);
  font-size: 100%;
  line-height: var(--line-height);
}

%headline-base {
  font-family: var(--font-family--heading);
  color: $primary-color;
  line-height: var(--line-height--heading);
  margin: 0 0 var(--spacing--small);
}

h1 {
  font-size: 2rem;
  margin: 0 0 var(--spacing-5);
  @extend %headline-base;
}

h2 {
  font-size: 1.7rem;
  margin: 0 0 var(--spacing-4);
  @extend %headline-base;
}

h3 {
  font-size: 1.3rem;
  margin: 0 0 var(--spacing-3);
  @extend %headline-base;
}

h4 {
  font-size: 1rem;
  margin: 0 0 var(--spacing-2);
  @extend %headline-base;
}

h5 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 var(--spacing-1);
  @extend %headline-base;
}

h6 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 var(--spacing-1);
  @extend %headline-base;
}

p {
  margin: 0 0 var(--spacing--small);
}

a {
  color: $action-color;
  text-decoration-skip-ink: auto;
  transition: color var(--duration) var(--timing);

  &:hover {
    color: $action-color--alt;
  }

  &:focus {
    outline: 0;
    outline-offset: 0;
  }
}

hr {
  border-bottom: var(--border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: var(--spacing) 0;
}
