.hero {
    width: 100%;
    height: 100vh;
    padding: var(--spacing-section) var(--spacing-6) var(--spacing-6) var(--spacing-6);
    overflow: hidden;

    &__image {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__about {
        padding: var(--spacing-20) var(--spacing-20);
    }

    &__quote {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--spacing-20) var(--spacing-20);
        
        font-size: 2rem;
        background-color: black;
        color: white;
    }

    &__image {
        width: 100%;
        height: auto;
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: var(--spacing-6);
}

.project {
    position: relative;
    overflow: hidden;

    &:hover {
        .project__info {
            transform: translateY(0%);
        }
    }

    &__image {
        height: calc(35vw - 3*var(--spacing-6));
        overflow: hidden;
    }

    &__info-container {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__info {
        padding: var(--spacing-3) var(--spacing-6);
        background: var(--primary-color);

        transition: var(--duration) var(--timing);
        transform: translateY(100%);
    }

    &__headline {
        font-size: 1.2rem;
        color: white;
        margin: 0;
    }
}

.exhibitions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.exhibition {
    max-width: 800px;
    width: auto;
    box-shadow: inset 0 0 0 2px var(--primary-color);

    &__info {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    &__tag {
        display: flex;
        align-items: center;
        padding: var(--spacing-4);
        border-right: 2px solid var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
    }

    &__content {
        padding: var(--spacing-12) var(--spacing-6);
    }

    &__checkout {
        display: flex;
        justify-content: flex-end;
    }

    &__btn {
        padding: var(--spacing-3)var(--spacing-4);
        border-left: 2px solid var(--primary-color);
        border-top: 2px solid var(--primary-color);
        cursor: pointer;
        transition: var(--duration) var(--timing);

        &:hover {
            color: white;
            background-color: var(--primary-color);
        }
    }
}

.contact {
    &__desc {
        max-width: 60%;
        font-size: 2rem;
    }

    // Deep-Selector workaround
    p {
        font-size: 2rem;
        color: white;

        a {
            color: white;
            font-weight: 500;
            text-decoration: underline white !important;
        }
    }
}

// Responsive Design

@media only screen and (max-width: 600px) {
    
    .hero {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
} 