.article {
    max-width: 880px;
    width: auto;
    margin: 0 auto;

    &__headline {
        text-align: center;
        margin-bottom: var(--spacing-15);
    }

    p {
        margin: 0 0 var(--spacing-4);
    }
}