.article {
    max-width: 880px;
    width: auto;
    margin: 0 auto;

    &__headline {
        text-align: center;
        margin-bottom: var(--spacing-15);
    }

    p {
        margin: 0 0 var(--spacing-4);
    }

    blockquote {
        max-width: 80%;
        margin: var(--spacing-10) auto;
        border-left: 2px solid var(--primary-color);
        padding: var(--spacing-2) 0 var(--spacing-2) var(--spacing-6);

        p {
            margin-bottom: 0;
        }
    }

    table {
        width: 50%;
        margin: var(--spacing-6) auto;
        text-align: left;
        background-color: rgba(var(--primary-color), 0.1);
        border: 1px solid var(--primary-color);
        padding: var(--spacing-2) var(--spacing-6);
        
        // th {
        //     // border-bottom: 1px solid var(--primary-color);
        // }
    }
}