.header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--spacing-6);

    &__home {
        display: flex;
        align-items: center;
    }

    &__title {
        margin-left: var(--spacing-6);
    }

    &--light {
        color: black;
    }

    &--dark {
        .nav__item {
            color: white;
        }

        .header__title {
            color: white;
        }

        .logo {
            &__rect {
                stroke: white;
            }

            &__path {
                fill: white;
            }
        }
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
        padding: var(--spacing-4);
    }
}

// Responsive Design

@media only screen and (max-width: 600px) {
    
    .header {
        align-items: flex-start;
    }

    .nav {
        flex-direction: column;
        align-items: flex-end;

        &__item {
            font-weight: var(--font-weight--medium);
            padding: 0;
        }
    }
} 