.page-header {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: var(--spacing-section) var(--spacing-6);
    padding-bottom: var(--spacing-15);
    background-color: var(--primary-color);
    //overflow: hidden;

    &__nav {
        position: absolute;
        width: 100%;
        content: "";
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;

        &-left {
            justify-self: flex-start;

        }

        &-right {
            justify-self: flex-end;
        }

        &-left, &-right {
            padding: var(--spacing-4) var(--spacing-6);
            color: rgba(white,0.2);
            transition: var(--duration) var(--timing);

            &:hover {
                color: rgba(white,1);
            }
        }
    }

    &__headline {
        margin-top: var(--spacing-15);
        margin-bottom: var(--spacing-15);
        color: white;
        text-align: center;
    }

    &__desc {
        max-width: 550px;
        width: auto;
        margin: 0 auto;

        font-size: 1.2rem;
        color: white;
        text-align: center;
    }

    &__image {
        width: auto;
        height: 100%;
    }
}